.order_list_item {
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
}

.table_header {
    height: 30px;
}

.col_1 {
    width: 5%;
    text-align: left;
    padding-left: 15px;
}

.col_2 {
    width: 10%;
    text-align: left;
}

.col_3 {
    width: 15%;
    text-align: left;
}

.col_4 {
    width: 10%;
    text-align: left;
}

.col_5 {
    width: 50%;
    text-align: left;
}

.col_6 {
    width: 5%;
    text-align: left;
}

table {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

th {
    padding: 5px;
}
table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

.form_products {
    font-size: 13px;
    margin-left: 20px;
}