.order_list_item {
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
}

.table_header {
    height: 30px;
}

.col_1 {
    width: 5%;
    text-align: left;
    padding-left: 15px;
    
}

.col_2 {
    width: 20%;
    text-align: left;
}

.col_3 {
    width: 30%;
    text-align: left;
}

.col_4 {
    width: 10%;
    text-align: left;
}

.col_5 {
    width: 35%;
    text-align: left;
}