.order_list_item {
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
}

.table_header {
    height: 30px;
}

.col_1 {
    width: 5%;
    text-align: left;
    padding-left: 15px;
}

.col_2 {
    width: 10%;
    text-align: left;
}

.col_3 {
    width: 15%;
    text-align: left;
}

.col_4 {
    width: 10%;
    text-align: left;
}

.col_5 {
    width: 50%;
    text-align: left;
}

.col_6 {
    width: 5%;
    text-align: left;
}

table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

th {
    padding: 5px;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}


/* td {
    display: flex;
    flex-direction: row-reverse;
} */

.form_products {
    font-size: 13px;
    margin-left: 20px;
}

.adding-button-lnk {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
}

.order-filter-block {
    display: flex;
    justify-items: flex-start;
    margin-top: 20px;
}

.order-filter-reset {
    margin-left: 4px;
}

.product-input-label {
    font-size: 20px;
}

.product_ratio_label {
    font-size: 20px;
}

.product_ratio {
    margin-top: 20px;
    font-size: 16px;
}

.form-order-input {
    margin-bottom: 20px;
}

.select-new-product-type {
    height: 42px;
    width: 700px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    color: gray;
    padding-left: 10px;
}

.product-input {
    border: 1px solid gray;
}

.product-input-items {
    border: 1px solid gray;
    width: 50%;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-disabled-label {
    font-style: italic;
    font-size: 16px;
    margin: 0 0 0 10px;
}

.product-label-wrapper {
    margin: 0;
}

.product-img-edit {
    width: 500px;
    height: 500px;
}

.search-form {
    margin-left: auto;
}

.orders-clear-filter {
    margin-left: 5px;
}

.product-out-of-stock-label {
    font-style: italic;
    font-size: 16px;
    margin: 0 0 0 10px;
    color: brown;
}

.order-table {
    width: 600px;
}

.order-img-edit {
    width: 100px;
    height: 100px;
}

.order-comment-input {
    min-width: 500px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 5px;
}

.editing-items {
    display: flex;
    align-items: baseline;
}