{% extends 'admin_base.html' %} {% block title %} Edit {{ product['name'] }} {% endblock %} {% block body %}

<h1>Edit product</h1>
<div class="product-container">
    <img src="{{ url_for('static', filename='img/555/'+product['id']~'.jpeg') }}" alt="product-img" class="product-img-edit">
    <form enctype="multipart/form-data" class="form-product" action="/admin/products/edit/{{ product['id'] }}/save" method="post">
        <div class="edit-info">
            <label class="product_input_label">
                <p class="product-label-wrapper">Name:</p>
                <input required class="product-input" type="text" name="name" value="{{ product['name'] }}"
                    placeholder="Enter name*">
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Price:</p>
                <input required class="product-input" type="text" name="price" value="{{ product['price'] }}"
                    placeholder="Enter price*">
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Storage quantity:</p>
                <input required class="product-input" type="text" name="storage_quantity"
                    value="{{ product['storage_quantity'] }}" placeholder="Enter quantity*">
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Description:</p>
                <textarea required class="product-input" name="description" cols="30" rows="4"
                    placeholder="Enter description*">{{ product['description'] }}</textarea>
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Short description:</p>
                <textarea required class="product-input" name="short_description" cols="30" rows="4"
                    placeholder="Enter short description*">{{ product['short_description'] }}</textarea>
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Type:</p>
                <select name="type" class="select-new-product-type">
                    <option disabled>Choose type...</option>
                    {% if product['type'] == 'pizza' %}
                    <option name="1" value="pizza" selected>Pizza</option>
                    <option name="2" value="sauce">Sauce</option>
                    {% else %}
                    <option name="1" value="pizza">Pizza</option>
                    <option name="2" value="sauce" selected>Sauce</option>
                    {% endif %}
                </select>
            </label>
            <label class="product-input-label">
                <p class="product-label-wrapper">Image:</p>
                <input required class="product-input" type="file" name="file" placeholder="Enter image file name*">
                </textarea>
            </label>
            <label class="product_ratio_label">
                <p class="product-label-wrapper">Display:</p>
                {% if product['display'] == 'On' %}
                <label>
                    <input checked required type="radio" id="" name="display" value="On">Enabled</label>
            <label>
                    <input required type="radio" id="" name="display" value="Off"> Disabled
                </label> {% else %}
            <label>
                    <input required type="radio" id="" name="display" value="On">Enabled</label>
            <label>
                    <input checked required type="radio" id="" name="display" value="Off"> Disabled
                </label> {% endif %}
            </label>
            

        </div>
        <button class="product-save-button add-product-btn save-edit-bit" type="submit">
            Save
        </button>
    </form>

</div>
{% endblock %}