{% extends 'admin_base.html' %} {% block title %} Edit {{ order['name'] }} {% endblock %} {% block body %}

<h1>Edit #{{ order['id'] }} order</h1>
<div class="product-container">
    <form class="form-product" action="/admin/orders/{{ order['id'] }}/edit" method="post">
        <div class="edit-info">
            <label class="product_input_label">
                <p class="product-label-wrapper">Name:</p>
                <input required class="product-input" type="text" name="name" value="{{ order['name'] }}"
                    placeholder="Enter name*">
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Address:</p>
                <input required class="product-input" type="text" name="address" value="{{ order['address'] }}"
                    placeholder="Enter address*">
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Phone:</p>
                <input required class="product-input" type="text" name="phone" value="{{ order['phone'] }}"
                    placeholder="Enter phone*">
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Payment method:</p>
                <select name="payment_method" class="select-new-product-type">
                    <option name="1" value="Cash" {{ 'selected' if order['payment_method'] == 'Cash' }}>Cash</option>
                    <option name="2" value="Credit card" {{ 'selected' if order['payment_method'] == 'Credit card' }}>Credit card</option>
                </select>
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Status:</p>
                <select name="status" class="select-new-product-type">
                    <option name="1" value="To do" {{ 'selected' if order['status'] == 'To do' }}>To do</option>
                    <option name="2" value="In progress" {{ 'selected' if order['status'] == 'In progress' }}>In progress</option>
                    <option name="3" value="On road" {{ 'selected' if order['status'] == 'On road' }}>On road</option>
                    <option name="4" value="Delivered" {{ 'selected' if order['status'] == 'Delivered' }}>Delivered</option>
                    <option name="5" value="Rejected" {{ 'selected' if order['status'] == 'Rejected' }}>Rejected</option>
                </select>
            </label>
            <label class="product_input_label">
                <p class="product-label-wrapper">Items:</p>
                <div class="order-items-list">
                    {% for item in order['items'] %}
                    <div class="editing-items">
                    <input hidden class="product-input-items" type="text" name="item_{{ item['id'] }}_id" value="{{ item['id'] }}">
                    <div class="order-item">{{ item['name'] }}</div>
                        <div>
                            <span class="minus">-</span>
                            <input class="items-quanity-input" type="text" name="item_{{ item['id'] }}_quantity" value="{{ item['quantity'] }}"/>
                            <span class="plus">+</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </label>
        </div>
        <button class="product-save-button add-product-btn save-edit-bit" type="submit">Save</button>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.minus').click(function() {
            var $input = $(this).parent().find('input');
            var count = parseInt($input.val()) - 1;
            count = count < 1 ? 1 : count;
            $input.val(count);
            $input.change();
            return false;
        });
        $('.plus').click(function() {
            var $input = $(this).parent().find('input');
            $input.val(parseInt($input.val()) + 1);
            $input.change();
            return false;
        });
    });
</script>
{% endblock %}