{% extends "base.html" %} {% block title %} Оформление закза {% endblock %} {% block body %} {% for notification in notifications %}
<div class="notifications">
    <p class='notification'>
        {{ notification['message'] }}
    </p>
</div>
<div class="cart_table">
    {% endfor %} {% for item in order['items'] %}
    <div class="cart_list_item">
        <div class="cart_list_img">
            <a href="/item/{{ item['id'] }}">
                <img src="{{ url_for('static', filename='img/'+item['img_src']) }}" alt="product_img" class="product_img">
            </a>
        </div>
        <div class="cart_list_description">
            <h3 class="cart_product_name">
                {{ item['name'] }}
            </h3>
            <p class="cart_list_description">
                {{ item['short_description'] }}
            </p>
            <p class="cart_list_description">
                {{ item['description'] }}
            </p>
        </div>
        <div class="cart_list_price">
            <p>{{ item['quantity'] }}x</p>
        </div>
        <div class="cart_list_price">
            <p>{{ item['price'] }}$</p>
        </div>


    </div>
    {% endfor %}
    <div class="cart_sum">
        <p>Total: {{ sum }}$</p>
    </div>
    <h1>Delivery details</h1>
    <div class="form_container">
        <form class="form_order" action="/create_order" method="post">
            <p><label class="form_order_label"><input required class="form_order_input" type="text" name="name" value="" placeholder="Enter your name*"></label></p>
            <p><label class="form_order_label"><input required class="form_order_input" type="text" name="adress" value="" placeholder="Enter your adress*"></label></p>
            <p><label class="form_order_label"><input required class="form_order_input" type="text" name="phone" value="" placeholder="Enter your phone number*"></label></p>
            <button class="form_order_button add_product_btn" type="submit"> Order
            </button>

        </form>
    </div>

</div>


<br><br><br><br><br> {% endblock %}