{% extends "base.html" %} {% block title %} Корзина {% endblock %} {% block body %} {% for notification in notifications %}
<div class="notifications">
    <p class='notification'>
        {{ notification['message'] }}
    </p>
</div>
<div class="cart_table">
    {% endfor %} {% for item in order['items'] %}
    <div class="cart_list_item">
        <div class="cart_list_img">
            <a href="/item/{{ item['id'] }}">
                <img src="{{ url_for('static', filename='img/'+item['img_src']) }}" alt="product_img" class="product_img">
            </a>
        </div>
        <div class="cart_list_description">
            <h3 class="cart_product_name">
                {{ item['name'] }}
            </h3>
            <p class="cart_list_description">
                {{ item['short_description'] }}
            </p>
            <p class="cart_list_description">
                {{ item['description'] }}
            </p>
        </div>
        <div class="cart_list_price">
            <a class="cart_list_price" href='/cart/remove_one_pizza/{{ item["id"] }}'>-</a>
            <p>{{ item['quantity'] }}x</p>
        </div>
        <div class="cart_list_price">
            <p>{{ item['price'] }}$</p>
            <a href='/cart/add_one_pizza/{{ item["id"] }}'>+</a>
        </div>
        <div class="delete_from_cart">
            <a href='/cart/delete_from_cart/{{ item["id"] }}'>
                <button>Delete</button>
            </a>
        </div>

    </div>
    {% endfor %}
    <div class="cart_sum">
        <p>Total: {{ sum }}$</p>
    </div>


</div>

{% if order %}

<div class="cart_order">
    <a href="/cart_order" class="cart_order_btn">Continue</a>
</div>
{% endif %} {% if order == [] %}
<p class="cart_no_orders">NO ORDERS</p>
{% endif %}

<br><br><br><br><br> {% endblock %}