{% extends "base.html" %}

{% block title %}
Корзина
{% endblock %}

{% block body %}
<div class="cart_table">
    {% if not order %}
    <p class="cart_no_orders">NO ORDERS</p>
    {% endif %}

    {% for item in order['items'] %}
    <div class="cart_list_item">
        <div class="cart_list_img">
            <a href="/item/{{ item['id'] }}">
                <img src="{{ url_for('static', filename='img/'+item['img_src']) }}" alt="product_img"
                    class="product_img">
            </a>
        </div>
        <div class="cart_list_description">
            <h3 class="cart_product_name">
                {{ item['name'] }}
            </h3>
            <p class="cart_list_description">
                {{ item['short_description'] }}
            </p>
            <p class="cart_list_description">
                {{ item['description'] }}
            </p>
        </div>
        <div class="cart_list_price">
            <p>{{ item['quantity'] }}x</p>
        </div>
        <div class="cart_list_price">
            <p>{{ item['price'] }}$</p>
        </div>
        <div class="delete_from_cart">
            <a href='/cart/delete_from_cart/{{ item["id"] }}'>
                <button>Delete</button>
            </a>
        </div>

    </div>
    {% endfor %}



</div>

{% if order %}
<div class="payment_type">
    <a href="/cart/change_payment_method/cash">
        <button
            class="payment_type_btn {{ 'green' if session['current_order']['payment_method'] == 'cash' }} ">Cash</button>
    </a>
    <a href="/cart/change_payment_method/credit_card">
        <button
            class="payment_type_btn {{ 'green' if session['current_order']['payment_method'] == 'credit_card' }}">Credit card</button>
    </a>
</div>
<div class="cart_order">
    <button class="cart_order_btn">Order</button>
</div>


{% endif %}

<br><br><br><br><br>
{% endblock %}