{% extends "base.html" %}

{% block title %}
Корзина
{% endblock %}

{% block body %}
<div class="cart_table">
    {% for item in order['items'] %}

    <div class="cart_list_item">
        <div class="cart_list_img">
            <a href="/item/{{ item[" id"] }}">
                <img src="{{ url_for('static', filename='img/'+item['img_src']) }}" alt="product_img"
                    class="product_img">
            </a>
        </div>
        <div class="cart_list_description">
            <h3 class="cart_product_name">
                {{ item['name'] }}
            </h3>
            <p class="cart_list_description">
                {{ item['short_description'] }}
            <p class="cart_list_description">
                {{ item['description'] }}
            </p>
            </p>
        </div>
        <div class="cart_list_price">
            <p>{{ item['quantity'] }}x</p>
        </div>
        <div class="cart_list_price">
            <p>{{ item['price'] }}$</p>
        </div>
    </div>

    {% endfor %}


</div>
<div class="cart_order">
    <button class="cart_order_btn">Order</button>
</div>
{% endblock %}