{% extends 'base.html' %}
{% block title %}
{{ item['name'] }}
{% endblock %}
{% block body %}
<div class="item-container">
    <img src="/static/img/{{ item['img_src'] }}" alt="product-img" class="item-product-img">
    <div class="item-product-description">
        <div>
            <h3 class="product-name">
                {{ item['name'] }}
            </h3>
            <p class="product-descrition">
                {{ item['short_description'] }}
            </p>
            <p class="product-descrition">
                {{ item['description'] }}
            </p>
        </div>
        <div class="price-add-container">
            <p class="product-price">{{ item['price'] }}$</p>
            <button class="add-product-btn">Add to Cart</button>
        </div>
    </div>
</div>
{% endblock %}
