{% extends 'base.html' %}
{% block title %} Ordering {% endblock %}
{% block body %}
<div class="cart-table">
    {% for item in order['items'] %}
    <div class="cart-list-item">
        <div class="cart-list-img">
            <a href="/item/{{ item['id'] }}">
                <img src="{{ url_for('static', filename='img/'+item['img_src']) }}" alt="product-img"
                    class="product-img">
            </a>
        </div>
        <div class="cart-list-description">
            <h3 class="cart-product-name">
                {{ item['name'] }}
            </h3>
            <p class="cart-list-description">
                {{ item['short_description'] }}
            </p>
            <p class="cart-list-description">
                {{ item['description'] }}
            </p>
        </div>
        <div class="cart-list-price">
            <p>{{ item['quantity'] }}x</p>
        </div>
        <div class="cart-list-price">
            <p>{{ item['price'] }}$</p>
        </div>
    </div>
    {% endfor %}
    <div class="cart-sum">
        <p>Total: {{ sum }}$</p>
    </div>
    <h1>Delivery details</h1>
    <div class="form-container">
        <form class="form-order" action="/create_order" method="post">
            <div class="order-user-info">
                <input required class="form-order-input" type="text" name="name" placeholder="Enter your name*">
                <input required class="form-order-input" type="text" name="adress" placeholder="Enter your adress*">
                <input required class="form-order-input" type="text" name="phone"
                    placeholder="Enter your phone number*">
            </div>
            <h3>Payment method:</h3>
            <div class="order-payment-group">
                <input type="radio" id="cash" name="payment_method" value="Cash">
                <label for="cash">Cash</label>
                <input type="radio" id="card" name="payment_method" value="Credit card">
                <label for="cash">Credit card</label>
            </div>
            <button class="form-order-button add-product-btn" type="submit">
                Order
            </button>
        </form>
    </div>
</div>
{% endblock %}
