{% extends 'admin_base.html' %}
{% block title %} Orders {% endblock %}
{% block body %}
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Phone</th>
            <th>Order</th>
            <th>Payment method</th>
            <th>Status</th>
            <th>Change status</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order['id'] }}</td>
            <td>{{ order['name'] }}</td>
            <td>{{ order['adress'] }}</td>
            <td>{{ order['phone'] }}</td>
            <td>
                {% for item in order['items'] %}
                {{ item['name'] }}x{{ item['quantity'] }}
                {% endfor %}
            </td>
            <td>{{ order['payment_method'] }}</td>
            <td>{{ order['status'] }}</td>
            <td>
                <form action="/admin/orders/{{ order['id'] }}/status" method="post">
                    <select name="order_status_form">
                        <option disabled selected>Choose status...</option>
                        <option name="1" value="To do">To do</option>
                        <option name="2" value="In progress">In progress</option>
                        <option name="3" value="On road">On road</option>
                        <option name="4" value="Delivered">Delivered</option>
                        <option name="5" value="Rejected">Rejected</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
