{% extends "admin_base.html" %} {% block title %} Orders {% endblock %} {% block body %}

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Phone</th>
            <th>Order</th>
            <th>Payment method</th>
            <th>Status</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>1</td>
            <td>{{ order['name'] }}</td>
            <td>{{ order['adress'] }}</td>
            <td>{{ order['phone'] }}</td>
            <td>{{ order['items'][0]["name"] }}</td>
            <td>{{ order['payment_method'] }}</td>
            <td>
                <form>
                    <select>
                    <option value="0">To do</option>
                    <option value="">In progress</option>
                    <option value="">On road</option>
                    <option value="">Delivered</option>
                    <option value="">Rejected</option>
                </select>
                    <input type="submit" value="Submit" class="myButton">
                </form>
            </td>


        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}