{% extends "admin_base.html" %} {% block title %} Orders {% endblock %} {% block body %}

<div class="order_table">

    <div class="order_list_item table_header">
        <div class="col_1">
            ID
        </div>
        <div class="col_2">
            NAME
        </div>
        <div class="col_3">
            ADRESS
        </div>
        <div class="col_4">
            PHONE
        </div>
        <div class="col_5">
            ORDER
        </div>
        <div class="col_6">
            PAYMENT_METHOD
        </div>
    </div>


    <div class="order_list_item">
        <div class="id_order col_1">
            <p>1</p>
        </div>
        <div class="id_order col_2">
            {{ orders['name'] }}
        </div>
        <div class="name_order col_3">
            {{ orders['adress'] }}
        </div>
        <div class="address_order col_4">
            {{ orders['phone'] }}
        </div>
        <div class="phone_order col_5">
            {{ orders['items'] }}
        </div>
        <div class="order_order col_6">
            {{ orders['payment_method'] }}
        </div>
    </div>





</div>

{% endblock %}