{% extends 'admin_base.html' %}
{% block title %} Products {% endblock %}
{% block body %}
<button class="">
    <a href="/admin/product/adding_product">Add new product</a>
</button>
<div class="order-filter-block">
    <form action="#" method="get">
        <select name="product_filter_form">
            <option disabled selected>Filter by...</option>
            <option name="1" value="pizza">Pizza</option>
            <option name="2" value="sauce">Sauce</option>
        </select>
        <button type="submit">Filter</button>
    </form>
    <a href="/admin/products" class="orders-clear-filter">
        <button type="submit" name="order_filter_form">Clear</button>
    </a>
</div>
<div class="cart-table">
    {% for item in items %}
    <div class="cart-list-item">
        <div class="cart-list-img">
            <a href="/admin/products/{{ item['id'] }}/edit">
                <img src="{{ url_for('static', filename='img/'+item['img_src']) }}" alt="product-img"
                    class="product-img">
            </a>
        </div>
        <div class="cart-list-description">
            <h3 class="cart-product-name">
                {{ item['name'] }}
                {% if item['display'] == "Off" %}
                <p class="product-disabled-label">[DISABLED]</p>
                {% endif %}
                {% if item['storage_quantity'] == 0 %}
                <p class="product-out-of-stock-label">[OUF OF STOCK]</p>
                {% endif %}
            </h3>
            <div class="cart-list-description">
                <p class="cart-list-description">
                    {{ item['short_description'] }}
                </p>
                <p class="cart-list-description">
                    {{ item['description'] }}
                </p>
                <div class="cart-list-description">
                    <a href="/admin/products/{{ item['id'] }}/edit">
                        <button>Edit</button>
                    </a>
                    <form action="/admin/products/{{ item['id'] }}/display" method="post">
                        <div class="form-products">
                            {% if item['display'] == "Off" %}
                            <button type="submit" id="{{ item['id'] }}display_on" name="if_display" value="On">
                                Enable
                            </button>
                            {% endif %}
                            {% if item['display'] == "On" %}
                            <button type="submit" id="{{ item['id'] }}display_off" name="if_display" value="Off">
                                Disable
                            </button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="cart-list-price">
            <p>{{ item['price'] }}$</p>
        </div>
        <div class="cart-list-price">
            <p>x{{ item['storage_quantity'] }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}